.snakemake*
.gedi*
.nv*
.cache*
.config*
logs/*
!logs/touch
_data/*
!_data/.gitkeep
!_data/touch
.config/*
.cache/*
docs/benchplots/*.png
genomes/*
!genomes/.gitkeep
model/*.ckpt
lightning_logs/*
notebooks
workflow/containers/image/*
!workflow/containers/image/.gitkeep
workflow/profiles/user
workflow/shell/Peptide-PRISM
workflow/shell/Peptide-PRISM.zip
