.snakemake*
.gedi*
.nv*
.cache*
.config*
logs/*
!logs/touch
_data/*
!_data/touch
.config/*
.cache/*
docs/benchplots/*.png
**/todo.py
genomes/*
model/*.ckpt
lightning_logs/*
notebooks
workflow/containers/image/*
workflow/profiles/user
workflow/shell/Peptide-PRISM
workflow/shell/Peptide-PRISM.zip
